<html lang="pt">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="right">
        <tr>
            <td>Página</td>
            <td align="center" width="100px">num_pagina</td>
        </tr>
        <tr>
            <td>Assinatura</td>
            <td width="100px"></td>
        </tr>
    </table>
    <br>
    <br>
    <b>
        <p id="header" align="center">
            <img src="brasao-ma.png" width="50" height="50"><br>
            GOVERNO DO MARANHÃO <br>
            SECRETARIA DE ESTADO DA SAÚDE <br>
            SECRETARIA ADJUNTA DE FINANÇAS <br>
            FUNDO ESTADUAL DE SAÚDE <br>
            CONTROLE FINANCEIRO <br>
        </p>
    </b>
    <hr>
    <p id="info">
        <b>PROCESSO</b>: num_proc<br>
        <b>DESTINATÁRIO</b>: destinatario<br>
        <b>ASSUNTO</b>: assunto_despacho<br>
    </p>
    <br>
    <center>
        <p id="number">
            <b>DESPACHO Nº num_desp</b>
        </p>
    </center>
    <p id="text" align="justify">
        texto_despacho
    </p>
    <br>
    <p align="center">
        data_despacho
    </p>
    <br>
    <br>
    <br>
    <p id="dados" align="center">
        <b>nome_colaborador</b> <br>
        Controle Financeiro <br>
        SAF/FES <br>
    </p>
    <footer id="rodape" align="center">
        <hr>
        Avenida Carlos Cunha, Jaracaty, São Luís/MA - Tel. 2154-1548
    </footer>
</body>
</html>