<html lang="pt">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="double-header">
        <img src="brasao-ma.png" width="50" height="50">
        <table id="pagination" align="right">
            <tr>
                <td>Página</td>
                <td align="center" width="100px">num_pagina</td>
            </tr>
            <tr>
                <td>Rubrica</td>
                <td width="100px"></td>
            </tr>
        </table>
    </div>
    <b>
        <p id="header" align="center">
            GOVERNO DO MARANHÃO <br>
            SECRETARIA DE ESTADO DA SAÚDE <br>
            SECRETARIA ADJUNTA DE FINANÇAS <br>
            FUNDO ESTADUAL DE SAÚDE <br>
            CONTROLE FINANCEIRO <br>
        </p>
    </b>
    <hr>
    <p id="info">
        <b>PROCESSO</b>: num_proc<br>
        <b>REMETENTE</b>: CONTROLE FINANCEIRO <br>
        <b>DESTINATÁRIO</b>: destinatario<br>
        <b>ASSUNTO</b>: assunto_despacho<br>
    </p>
    <br>
    <center>
        <p id="number">
            <b>DESPACHO Nº num_desp</b>
        </p>
    </center>
    <p id="text" align="justify">
        Encaminhamos os autos para que seja realizada a regularização, via sistema SIGEF, do pagamento efetuado pelo gerenciador do Banco do Brasil, conforme comprovantes em anexo, e posteriormente dar seguimento ao fluxo processual encaminhando de volta a este setor para que seja feito o relatório de pagamento.
    </p>
    <br>
    <br>
    <p align="center">
        data_despacho
    </p>
    <br>
    <br>
    <br>
    <p id="dados" align="center">
        <b>nome_colaborador</b> <br>
        Controle Financeiro <br>
        SAF/FES <br>
    </p>
    <footer id="rodape" align="center">
        <hr>
        Av. Professor Carlos Cunha, S/N, Calhau, CEP 65076-820, São Luís/MA <br>
        Telefone: (98) 3198-5500
    </footer>
</body>
</html>
