<html lang="pt">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="right">
        <tr>
            <td>Página</td>
            <td align="center" width="100px">var_num_page</td>
        </tr>
        <tr>
            <td>Assinatura</td>
            <td width="100px"></td>
        </tr>
    </table>
    <br>
    <br>
    <b>
        <p id="header" align="center">
            <img src="brasao-ma.png" width="50" height="50"><br>
            GOVERNO DO MARANHÃO <br>
            SECRETARIA DE ESTADO DA SAÚDE <br>
            SECRETARIA ADJUNTA DE FINANÇAS <br>
            FUNDO ESTADUAL DE SAÚDE <br>
            CONTROLE FINANCEIRO <br>
        </p>
    </b>
    <hr>
    <p id="info">
        <b>PROCESSO</b>: num_proc<br>
        <b>DESTINATÁRIO</b>: dest<br>
        <b>ASSUNTO</b>: theme<br>
    </p>
    <br>
    <center>
        <p id="number">
            <b>DESPACHO Nº num_desp</b>
        </p>
    </center>
    <p id="text" align="justify">
        Considerando o despacho do Controle de Custos, 
        encaminhamos os autos informando a devida 
        conta bancária para pagamento da referida despesa.
    </p>
    <table align="justify">
        <tr>
            <th>Fonte</th>
            <th>Agência</th>
            <th>Domicílio<br>Bancário</th>
            <th>Bloco/Ação de Financiamento</th>
        </tr>
        <tr>
            <td align="center">num_fonte</td>
            <td align="center">num_ag</td>
            <td align="center">num_db</td>
            <td align="justify">
                text_rec
            </td>
        </tr>
    </table>
    <br>
    <table align="justify">
        <tr>
            <th>PORTARIA</th>
            <th>EMENTA/OBJETO</th>
        </tr>
        <tr>
            <td align="center">num_port</td>
            <td align="justify">
                text_port
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id="dados" align="center">
        <b>colab</b> <br>
        Controle Financeiro <br>
        SAF/FES <br>
    </p>
    <footer id="rodape" align="center">
        <hr>
        Avenida Carlos Cunha, Jaracaty, São Luís/MA - Tel. 2154-1548
    </footer>
</body>
</html>